services:
  db:
    image: postgres:16-alpine
    container_name: dms-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build: .
    container_name: dms-app
    environment:
      DATABASE_URL: postgresql://neondb_owner:npg_4L9oWYgdhHZE@ep-wandering-glade-ad2qjtn4-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      NODE_ENV: production
    depends_on:
      - db
    ports:
      - "3000:3000"
volumes:
  pgdata:
